body {
  overflow: hidden;
}

.preloader_div {
  font-size: 5.9vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  position: relative;
}
.preloader_svg {
  text-transform: uppercase;
}

.preloader_counter {
  overflow: hidden;
  /* pointer-events: none; */
  height: 15vh;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 5%;

  display: flex;
  align-items: top;
  font-size: max(6vw, 68px);
  /* font-size: 112px; */
}

.percentage {
  position: absolute;
  left: max(4%, 40px);
}

.counts {
  display: flex;
}

.number {
  display: block;
}
